html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background: url(../images/pastel2.png) repeat;
    font-family: 'Montserrat', sans-serif;
    color: #7b7b7b;
}

em {
    font-style: italic;
}

.smooth {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    overflow-X: hidden;
}

h1 {
    display: block;
    position: relative;
    font-family: 'Londrina Outline', sans-serif;
    font-size: 9em;
    text-align: center;
    color: #fff;
    background: #eca5ff;
    margin: 70px -8% 50px;
    padding-bottom: 18px;
    text-transform: lowercase;
    box-shadow: 0 0 3px #00000014;

    /* add prefix */
    -webkit-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}

h1::before,
h1::after {
    display: block;
    content: '';
    position: absolute;
    top: -10px;
    left: -25px;
    width: 75px;
    height: 25px;
    background: #ffffff59;
    border: 1px solid #fff;

    /* add prefix */
    -webkit-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

h1::before {
    top: auto;
    left: auto;
    bottom: -10px;
    right: -25px;
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}

/* main */

.main {
    width: 65%;
    margin: 40px auto;
    text-align: center;
    min-width: 850px;
    max-width: 1000px;
}

.main #display-main {
    position: relative;
    background: #97f1ce;
    color: #fff;
    height: 250px;
    float: left;
    width: 65%;
    box-shadow: 0 3px 3px #00000014;
}

#display-main p {
    text-align: center;
    background: #fdfdfd;
    color: #7b7b7b;
    padding: 25px;
}

/* id corresponding to js */

#word-display {
    display: block;
    line-height: 180px;
    font-size: 4em;
    font-family: 'Londrina Outline', sans-serif;
    text-align: center;
}

#letter-bank {
    position: relative;
    float: left;
    width: 33%;
    margin-left: 2%;
    min-height: 250px;
    background: #f5a0c0;
    padding: 25px;
    box-shadow: 0 3px 3px #00000014;
}

#letter-bank p {
    text-align: center;
    background: #fdfdfd;
    padding: 25px;
    margin: -25px -25px 25px -25px;
}

#letter-bank #strikes {
    font-weight: bold;
}

#letter-bank #used-letter {
    color: #fff;
    font-family: 'Londrina Outline', sans-serif;
    font-size: 3.5em;
    text-transform: uppercase;
}

#display-main::before, #letter-bank::before {
    display: block;
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -35px;
    width: 75px;
    height: 25px;
    background: #ffffff59;
    border: 1px solid #fff;
}

/* reset */

.button {
    display: inline-block;
    margin-top: 70px;
    font-family: 'Londrina Outline', sans-serif;
    background: #b2b8f7;
    color: #fff;
    text-decoration: none;
    padding: 18px 45px;
    text-transform: lowercase;
    font-size: 3em;
    border-radius: 4px;
    box-shadow: 0 0 3px #00000014;
    cursor: pointer;
}

#mute {
    background: #eca5ff;
    margin-left: 1.5%;
}

/* sticky footer */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 240px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #fdfdfd;
    text-align: center;
    box-shadow: inset 0 3px 3px #00000014;
}

footer span {
    font-size: 80%;
}

footer a {
    text-decoration: none;
    color: #eb9bff;
    font-weight: bold;
    margin-right: 7px;
}

/* animation lol */

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

body {
    /* prefix */
    -webkit-animation: animatedBackground 60s linear infinite;
    animation: animatedBackground 60s linear infinite;
}

.button:hover, .button:active, .button:focus {
    background-color: #949be4;

    /* prefixes */
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}

#mute:hover, #mute:active {
    background-color: #df8ef3;
}